<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form, div#result {
            width: 450px;
            margin: auto;
        }
        #captcha {
            cursor:pointer;
            margin: 10px;
        }
    </style>
</head>
<body>
    <form method="post" action="/form">
        <span>คลิกที่ภาพเพื่อโหลดใหม่</span><br>
        <img src="/captcha-image" id="captcha" onclick="this.src=this.src+'?'+Math.random()"><br>
        <input type="text" name="captcha" placeholder="ใส่อักขระในภาพ">
        <button>OK</button>
    </form>
    <br><br>
    <% if (locals.result) { %>
        <div id="result"><%= result %></div>
    <% } %>
</body>
</html>